@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
.video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -1;
}
.btn{
  background-color: #16a085;
}